<h2 class="d-flex justify-content-center">Students Information</h2>
<hr/>

<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <button routerLink="home" routerLinkActive="active" class="m-1 btn btn-light btn-outline-primary" >Home</button>
    </li>
    <li>
      <button routerLink="students" routerLinkActive="active" class="m-1 btn btn-light btn-outline-primary">Students</button>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

